// In questa pagina imposto lo stile per l'aside presente nei miei progetti

// Imposto il contenitore generale e i suoi contenuti
.tre {
  flex-basis: 100%;
  @extend %flexCenter;
  flex-direction: column;
  margin-top: 50px;
  @media all and (max-width: 930px) {
    justify-content: start;
    align-items: start;
    padding-left: 50px;
  }
  h3 {
    color: $greenPrimary;
    font-family: $fontPrimary;
    font-size: $dimensionundici;
    padding-right: 8px;
  }
  ul {
    display: flex;
    gap: 30px;
    list-style: none;
    margin-top: 10px;
    margin-bottom: 35px;
    @media all and (max-width: 930px) {
      flex-direction: column;
    }
    a {
      @extend %dwtestoDue;
      font-family: $fontSecondary;
      font-weight: 900;
      text-decoration: none;
      font-size: $dimensionTre;
      &:hover {
        color: $greenPrimary;
      }
    }
  }
}
