// In questa pagina contengo le condizioni che danno vita al cambio di tema del sito

// cambio lo sfondo del sito nero scuro a bianco chiaro
%dwsfondo {
  @if $template == dark {
    background: $dark;
  } @else {
    background: $light;
  }
}

// cambio il colore del menu da grigio scuro a verde acqua
%dwsfondoMenu {
  @if $template == dark {
    background: $darkMenu;
  } @else {
    background: $lightMenu;
  }
}

// cambio il colore del menù a tendina da grigio scuro a grigio chiaro
%dwsfondoMenuTwo {
  @if $template == dark {
    background: $darkMenuTwo;
  } @else {
    background: $lightMenuTwo;
  }
}

// cambio il colore hover del menu a tendina da grigio scuro a grigio chiaro
%dwsfondoMenuHover {
  @if $template == dark {
    background: $darkMenuHover;
  } @else {
    background: $lightMenuHover;
  }
}

// cambio il colore dei pulsati da grigi a verdi chiaro
%dwsbutton {
  @if $template == dark {
    background: $darkButton;
  } @else {
    background: $lightButton;
  }
}

// cambio lo sfondo di alcuni elementi decorativi da neri a verde chiaro
%dwslightdark {
  @if $template == dark {
    background: $darkDark;
  } @else {
    background: $lightLight;
  }
}

// aggiungo alcuni elementi di sfondo decorativi verde chiaro, ma solo nel tema chiaro, nel tema scuro non saranno presenti
%dwsdarkspecial {
  @if $template == dark {
    background: none;
  } @else {
    background: $lightLight;
  }
}

// cambio il colore dell'obra interna del menu da nera a bianca
%dwombraMenu {
  @if $template == dark {
    box-shadow: $shadowDarkMenu;
  } @else {
    box-shadow: $shadowLightMenu;
  }
}

// cambio il colore degli elementi del form da grigio scuro a bianco scuro
%dwInput {
  @if $template == dark {
    background-color: $input;
  } @else {
    background-color: $inputWhite;
  }
}

// cambio il colore delle opzioni della select da grigio scuro a grigio chiaro
%dwOption {
  @if $template == dark {
    background-color: $blackSecondary;
  } @else {
    background-color: $whiteSecondary;
  }
}

// cambio il colore degli elementi dei form in focus da nero a verde acqua
%dwInputTwo {
  @if $template == dark {
    background-color: $inputHover;
  } @else {
    background-color: $inputWhiteHover;
  }
}

// cambio il colore dei testi principali da bianco chiaro a nero scuro
%dwtesto {
  @if $template == dark {
    color: $whitePrimary;
  } @else {
    color: $blackPrimary;
  }
}

// cambio il colore dei testi secondari da bianco scuro a nero chiaro
%dwtestoDue {
  @if $template == dark {
    color: $whiteSecondary;
  } @else {
    color: $blackSecondary;
  }
}

// cambio il riquadro che contiene la recensione da bianco a nera
%dwrecensioni {
  @if $template == dark {
    border-bottom: $borderRecTwo;
    border-right: $borderRecTwo;
    border-top: $borderRec;
    border-left: $borderRec;
  } @else {
    border-bottom: $borderRecFour;
    border-right: $borderRecFour;
    border-top: $borderRecTre;
    border-left: $borderRecTre;
  }
}
