// In questa pagina imposto tutti quelle generalità che sono presenti in tutte le pagine del sito

* {
  padding: 0;
  margin: 0;
}

body {
  background-color: $blackPrimary;
  @extend %dwsfondo;
  min-height: 100vh;
  display: flex;
  flex-direction: column;

}


// codice per migliorare la navigazione dei punti di ancoraggio
html {
  scroll-behavior: smooth;
  
}

// stile del titolo principale che compare in tutte le pagine tranne che nella home

.titoloPr {
  color: $greenPrimary;
  font-size: $dimensiondodici;
  font-family: $fontPrimary;
  padding-top: 160px;
  padding-left: 50px;
  padding-right: 40px;
  @media all and (max-width: 555px) {
    padding-left: 20px;
    padding-right: 15px;
  }
  @media all and (max-width: 332px) {
    padding-left: 18px;
    font-size: 45px;
  }
}

// stile legato all'id dell'imagine di logo

#logo {
  transform: scale(1);
  z-index: 350;
}

// stile della spunta che conpare nelle checkbox dei miei form

.hidenCheckbox:checked ~ .checkmark::before,
.hidenCheckbox:checked ~ .checkmarkEr::before,
.hidenCheckbox:checked ~ .checkmarkTwo::before,
.hidenCheckbox:checked ~ .checkmarkTwoEr::before {
  content: "✓";
  display: block;
  text-align: center;
  line-height: 16px;
  color: $greenPrimary;
  font-weight: bold;
  font-size: $dimension;
}

// creo un mixin per gestire lo stile delle immagini di sfondo delle varie pagine

@mixin sfondoImg($imageName) {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -2;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background: url(../assets/#{$imageName});
}

.sfondoimgsei {
  @include sfondoImg("sfondolavori.png");
}

.sfondoimgsette {
  @include sfondoImg("email.png");
}

.sfondoimgotto {
  @include sfondoImg("cite.png");
}

.sfondoimguno {
  @include sfondoImg("grafica.png");
}

.sfondoimgdue {
  @include sfondoImg("e_commerce.png");
}

.sfondoimgtre {
  @include sfondoImg("scacchi_sfondo.png");
}

.sfondoimgquattro {
  @include sfondoImg("socials.png");
}

.sfondoimgcinque {
  @include sfondoImg("cripto.png");
}

// l'immagine di sfondo della home page lavora diversamente dalle altre
.sfondoimgnove {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  height: 100%;
  z-index: -2;
  background: url(../assets/homeb.png);
}

// Creo un mixing per gestire i messaggi di output
@mixin responseStyle($color) {
  color: $color;
  font-family: $fontSecondary;
  font-size: $dimensionOne;
  margin: 0px 30px 25px 0px;
  padding: 5px 10px;
  @extend %dwslightdark;
  border-radius: 10px;
  width: fit-content;

  @media all and (max-width: 570px) {
    border-radius: 150px;
  }
  @media all and (max-width: 555px) {
    margin-left: 5px;
    margin-right: 5px;
  }
  @media all and (max-width: 400px) {
    font-size: 17px;
  }
  
}

.formEr {
  @include responseStyle($error);
}
.formErr {
  @include responseStyle($error);
  margin-bottom: 0;
  padding-bottom: 0;
}
.formErHid {
  @include responseStyle($error);
  display: none;
}

.secret {
  @include responseStyle($greenPrimary);
  margin-left: 50px;
  @media all and (max-width: 390px) {
    word-break: break-all;
  }
}
