// In questa pagina imposto lo stile della homePage

// Incomincio dalla header e dal video header
header {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  video {
    -o-object-fit: fill;
    object-fit: fill;
    width: 100vw;
    height: 100vh;
  }

  // imposto i titoli

  .headerContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 100%;
    letter-spacing: 3px;
    margin: 0;
    @extend %dwsdarkspecial;
    border-radius: 200px;
    h1 {
      @extend %dwtesto;
      font-family: $fontPrimary;
      font-size: $dimensionFive;
      margin-left: 13px;
      margin-right: 13px;
      @media all and (max-width: 505px) {
        font-size: 45px;
      }
      @media all and (max-width: 440px) {
        font-size: $dimensionheight;
      }
      @media all and (max-width: 400px) {
        font-size: 37px;
      }
      @media all and (max-width: 372px) {
        font-size: 35px;
        margin-bottom: 50px;
      }
      @media all and (max-width: 355px) {
        font-size: 30px;
      }
      @media all and (max-width: 315px) {
        font-size: $dimension;
      }
    }
    h2 {
      @extend %dwtestoDue;
      font-family: $fontPrimary;
      font-size: $dimensionsix;
      margin-left: 13px;
      margin-right: 13px;
      @media all and (max-width: 505px) {
        font-size: 22px;
      }
      @media all and (max-width: 440px) {
        font-size: $dimensionOne;
      }
      @media all and (max-width: 355px) {
        font-size: 16px;
      }
      @media all and (max-width: 315px) {
        margin: 5px;
        text-align: center;
      }
    }
  }
}

// imposto i bottoni per le CTA

.ahome {
  @extend %flexCenter;
  flex-direction: row;
  padding-top: 40px;
  @media all and (max-width: 585px) {
    flex-direction: column-reverse;
  }
  a {
    font-family: $fontPrimary;
    font-size: $dimensionOne;
    letter-spacing: 3px;
    font-weight: 800;
    @extend %dwtesto;
    text-decoration: none;
    @extend %dwsbutton;
    padding: 13px 25px 13px 25px;
    border-radius: 8px;
    @media all and (max-width: 365px) {
      padding: 7px 10px 7px 10px;
      font-size: $dimensionFour;
    }
  }
  .leftB {
    transition: transform 0.3s ease;
    margin-right: 30px;
    &:hover {
      transform: scale(1.15);
    }
  }
  .rightB {
    transition: transform 0.3s ease;
    &:hover {
      transform: scale(1.15);
    }
    @media all and (max-width: 585px) {
      padding-bottom: 50px;
    }
  }
}

// imposto la main della mia homepage

.homeElement {
  padding-left: 60px;
  padding-right: 60px;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 100px;
  position: relative;
  @media all and (max-width: 1350px) {
    padding-right: 0px;
  }

  @media all and (max-width: 1100px) {
    padding-right: 40px;
    padding-left: 50px;
  }

  @media all and (max-width: 695px) {
    padding-right: 20px;
    padding-left: 30px;
  }

  @media all and (max-width: 480px) {
    padding-left: 20px;
    padding-right: 10px;
  }

  // Questo di seguito è lo stile di un h1, creato solo per la semantica (i validatori di html non accettavano un main senza un titolo diretto) tuttavia è nascosto alla vista degli utenti, ma senza usare opacity.

  .hiddenTitle {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
  }

  // impostazioni del paragrafo principale
  .description {
    flex-basis: 45%;
    font-size: $dimensionnine;
    font-family: $fontSecondary;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 3px;
    border-radius: 45px;
    @extend %dwslightdark;
    @extend %dwtesto;
    @media all and (max-width: 1100px) {
      flex-basis: 100%;
    }
    a {
      color: $greenPrimary;
      text-decoration: none;
    }

    p {
      padding-top: 5px;
      text-align: start;
      &:first-letter {
        font-size: $dimensionheight;
        @media all and (max-width: 480px) {
          font-size: 30px;
        }
        @media all and (max-width: 360px) {
          font-size: $dimensionsix;
        }
      }
      @media all and (max-width: 480px) {
        font-size: $dimensionOne;
      }
      @media all and (max-width: 360px) {
        font-size: 16px;
      }
    }
  }

  // impostazioni del video di youtube
  .secondCol {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    flex-basis: 50%;
    padding-right: 20px;

    @media all and (max-width: 1100px) {
      flex-basis: 100%;
      align-items: center;
    }

    @media all and (max-width: 780px) {
      padding: 0;
    }

    @media all and (max-width: 485px) {
      margin-left: -5px;
    }
    iframe {
      border: none;
      border-radius: 40px;
      box-shadow: $ombraScura;
      @media all and (max-width: 1100px) {
        margin-top: 80px;
        width: 600px;
        height: 400px;
      }

      @media all and (max-width: 695px) {
        width: 500px;
        height: 350px;
      }

      @media all and (max-width: 555px) {
        width: 90%;
        height: 290px;
      }

      @media all and (max-width: 335px) {
        width: 85%;
        height: 290px;
      }
    }

    // impostazioni bottone per vedere il mio vecchio prototipo del sito

    .prototipo {
      margin-top: 84px;
      padding: 10px 20px;
      letter-spacing: 3px;
      font-weight: 800;
      text-align: center;
      text-decoration: none;
      border-radius: 7px;
      font-family: $fontPrimary;
      font-size: $dimensionOne;
      margin-right: 40px;
      box-shadow: $ombraScura;
      @extend %dwtesto;
      @extend %dwsbutton;
      transition: transform 0.3s ease;
      &:hover {
        transform: scale(1.15);
      }
      @media all and (max-width: 1100px) {
        margin: 50px 0 0 0;
        width: 400px;
        padding-right: 15px;
      }

      @media all and (max-width: 470px) {
        padding-left: 9px;
        width: 280px;
      }

      @media all and (max-width: 330px) {
        margin-left: -5px;
        width: 250px;
      }

      @media all and (max-width: 305px) {
        margin-left: -10px;
      }
    }
  }
}
