// In questa pagina definisco lo stile per la pagina che contiene tutti i progetti

// Inizio impostando lo stile del contenitore principale
.ttprogect {
  padding: 70px 0 0 150px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  @media all and (max-width: 1250px) {
    padding-left: 50px;
  }

  @media all and (max-width: 1005px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  @media all and (max-width: 600px) {
    padding-left: 0px;
  }
  @media all and (max-width: 530px) {
    padding-left: 80px;
  }
  @media all and (max-width: 430px) {
    padding-left: 50px;
  }
  @media all and (max-width: 360px) {
    padding-left: 20px;
  }
  @media all and (max-width: 320px) {
    padding-left: 8px;
  }

  // qui imposto il div che rappresenta lo specifico progetto e che contiene tutti gli elementi necessari
  div {
    flex-basis: 50%;
    width: fit-content;
    border-radius: 900px;
    @extend %dwsdarkspecial;

    h3 {
      width: 280px;
      @extend %dwtesto;
      font-family: $fontSecondary;
      font-size: $dimensionTwo;
      padding-top: 10px;
    }
    a {
      display: flex;
      flex-direction: column;
      text-decoration: none;
      width: fit-content;

      // gestisco li effetti hover: comparsa descrizione, ingrandimento e offuscamento dell'immagine, titolo diventa verde
      &:hover p {
        visibility: visible;
        opacity: 1;
      }
      &:hover h3 {
        color: $greenPrimary;
      }
      &:hover img {
        transform: scale(1.2);
        opacity: 0.4;
      }

      // per aiutarmi con la disposizione degli elementi creo un secondo div dove all'interno inserisco immagine e descrizione. Questo mi serve per far apparire la descrizione sotto al titolo

      div {
        display: flex;
        flex-direction: row;
        margin-bottom: -130px;
        @media all and (max-width: 530px) {
          flex-direction: column;
          text-align: center;
          justify-content: center;
        }
        
        img {
          width: 190px;
          height: 190px;
          margin-top: -30px;
          padding-bottom: 60px;
          transition: transform 0.4s ease;
          @media all and (max-width: 530px) {
            margin-left: 80px;
            margin-top: 50px;
          }
          @media all and (max-width: 380px) {
            margin-left: 50px;
           
          }
        }
      }
      p {
        @extend %dwtesto;
        font-family: $fontSecondary;
        font-weight: bolder;
        font-size: $dimensionOne;
        padding-bottom: 150px;
        z-index: 10;
        visibility: hidden;
        opacity: 0;
        transition: 0.6s ease;
      }
    }
  }
}

// Alcuni media querry applicati ad elementi specifici
.portfolio {
  @media all and (max-width: 1005px) {
    margin-left: 50px;
  }
  @media all and (max-width: 500px) {
    margin-left: 0px;
  }

  @media all and (max-width: 430px) {
    margin-left: 5px;
    left: 600px;
  }
}

