// In questo file gestisco la pagina recensioni, dove in alto è situata la mia recensione e in basso ho inserito un nuovo form che non c'era nell'esame precedente

// gestisco la spiegazione iniziale

.spieg {
  font-family: $fontSecondary;
  @extend %dwtesto;
  font-size: $dimensionTre;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  width: 80vw;
  @extend %dwsdarkspecial;
  border-radius: 200px;
  @media all and (max-width: 555px) {
    margin-left: 25px;
  }

  // gestisco il contenitore della recensione e i suoi elementi
}
.conteinerdue {
  margin-bottom: 60px;
  @extend %dwrecensioni;
  width: 65%;
  margin-left: 50px;
  border-radius: 5px 50px 5px 50px;
  padding-bottom: 20px;
  box-shadow: $ombra;
  @media all and (max-width: 555px) {
    margin-left: 25px;
    width: 85%;
  }
  img {
    width: 150px;
    border-radius: 100%;
    padding-left: 25px;
    padding-bottom: 15px;
    @extend %dwslightdark;
  }
  p {
    font-family: $fontSecondary;
    font-size: $dimensionTre;
    padding-left: 25px;
    padding-right: 25px;
    @extend %dwtestoDue;
    @extend %dwsdarkspecial;
    border-radius: 100px;
  }
  h3 {
    font-family: $fontPrimary;
    font-size: $dimensionnine;
    font-weight: bolder;
    margin-top: 15px;
    margin-left: 35px;
    margin-bottom: 5px;
    @extend %dwtesto;
  }
  a {
    color: $greenPrimary;
    font-family: $fontSecondary;
    font-size: $dimensionTre;
    padding-left: 25px;
  }
}

// Inizio qui in basso a gestire il form, le varie voci presentato due versioni: una normale e una per la modalità errore. Ho cercato di raggruppare più caratteristiche comuni possibili, tenendo presente che nella pagina contatti c'è un altro form, che per quanto molto simile a questo, presenta caratteristiche leggermente diverse

// gestisco la fieldset 
.fieltwo {
  @extend %fieldset;
  margin-left: 50px;
  @media all and (max-width: 555px) {
    margin-left: 25px;
  }
  // gestisco la legend 
  .tittledue {
    padding: 20px 10px 0px 0px;
    margin-left: 50px;
    margin-bottom: 15px;
    margin-left: 0px;
    border-radius: 500px;
    @extend %legend;
  }

  // gestisco lo stile delle label 
  .labRec {
    @extend %impostaLabel;
    @extend %dwtestoDue;
    margin-right: 7px;
    width: fit-content;
  }
  // gestisco le label versione errore 
  .labRecEr {
    @extend %impostaLabel;
    color: $error;
    margin-right: 7px;
    padding-bottom: 0;
    width: fit-content;
  }
  // gestisco lo stile degli input 
  .inpOne {
    margin-bottom: 35px;
    width: 300px;
    @extend %imposttaInput;
    @extend %inputa;
    &::placeholder {
      transition: 0.4s ease-in-out;
    }
    &:focus::placeholder {
      opacity: 0;
    }
    @media all and (max-width: 425px) {
      width: 85%;
    }
    &:focus {
      @extend %dwInputTwo;
      outline: none;
      border: $borderGr;
    }
  }
  // gestisco gli input versione sbagliata 
  .inpOneEr {
    @extend %inputaEr;
    @extend %imposttaInput;
    width: 300px;
    &::placeholder {
      transition: 0.4s ease-in-out;
    }
    &:focus::placeholder {
      opacity: 0;
    }
    @media all and (max-width: 425px) {
      width: 85%;
    }
    &:focus {
      @extend %dwInputTwo;
      outline: none;
    }
  }
  input[type="file"] {
    cursor: pointer;
  }

  // stile checkBox
  .customChecbox {
    @extend %labelCheck;
  }
  // stile label con cui ho personalizzato la checkbox
  .checkmark {
    @extend %check;
    @extend %inputC;
  }
  // checkbox sbagliata
  .checkmarkEr {
    @extend %inputCer;
    @extend %check;
  }

  @extend %opzionale;

  // stile textarea
  .txtOne {
    @extend %inputext;
    @extend %impostaTxt;
    width: 450px;
    height: 150px;
    margin-bottom: 30px;
    &::placeholder {
      transition: 0.4s ease-in-out;
    }
    &:focus {
      @extend %dwInputTwo;
      outline: none;
      border: $borderGr;
    }
    &:focus::placeholder {
      opacity: 0;
    }
    @media all and (max-width: 525px) {
      width: 75%;
    }
    @media all and (max-width: 425px) {
      width: 85%;
    }
  }
  // stile textarea sbagliata 
  .txtOneEr {
    @extend %impostaTxt;
    @extend %inputextEr;
    width: 450px;
    height: 150px;
    &::placeholder {
      transition: 0.4s ease-in-out;
    }
    &:focus {
      @extend %dwInputTwo;
      outline: none;
    }
    &:focus::placeholder {
      opacity: 0;
    }
    @media all and (max-width: 525px) {
      width: 75%;
    }
    @media all and (max-width: 425px) {
      width: 85%;
    }
  }

  // stile bottone
  .buttOne {
    width: 300px;
    margin-bottom: 50px;
    @extend %impostaButton;
    @extend %inputa;
    @media all and (max-width: 555px) {
      margin-left: auto;
      margin-right: auto;
    }
    @media all and (max-width: 425px) {
      width: 85%;
      margin-left: 0;
      margin-right: 0;
    }
    &:hover {
      @extend %dwInputTwo;
      border: $borderGr;
    }
    @extend %icon;
  }
}


