// in questa pagina gestisco lo stile delle recensioni e del secondo form presente nel mio sito

// inizio con l'header:

.recc {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  text-align: start;
  height: fit-content;
  width: fit-content;
  .spiegazione {
    @extend %dwColorMenutwo;
    // font-family: $fontsecondary;
    color: $whitesecondary;
    font-size: $dimensionsecondary;
    margin-left: 60px;
    padding-top: 80px;
    width: 80vw;
    text-align: justify;
    @media (min-width: 2200px) and (max-width: 2560px) {
      font-size: 42px;
    }
    @media all and (max-width: 500px) {
      margin-left: 30px;
    }
    @media all and (max-width: 325px) {
      width: 90vw;
    }
  }
}

// qui sotto gestisco la recensione
.recensione {
  @extend %borderrecens;
  border-radius: 5px 60px 5px 60px;
  width: 55vw;
  margin: 40px 0 20px 60px;

  @media all and (max-width: 650px) {
    width: 75vw;
  }
  @media all and (max-width: 500px) {
    margin-left: 30px;
  }
  @media all and (max-width: 325px) {
    width: 90vw;
  }
  .tittledue {
    @extend %dwColorMenuOne;
    font-family: $fontprimary;
    padding: 20px 10px 15px 25px;
    font-weight: 900;
    font-size: 30px;
    @media (min-width: 2200px) and (max-width: 2560px) {
      font-size: 62px;
    }
  }
  .conteinerdue {
    padding-bottom: 20px;
  }
  img {
    width: 150px;
    border-radius: 100%;
    padding-left: 25px;
    padding-bottom: 15px;
    @media (min-width: 2200px) and (max-width: 2560px) {
      width: 250px;
    }
  }
  p {
    @extend %dwColorMenutwo;
    font-family: $fontsecondary;
    font-size: $dimensionsecondary;
    padding-left: 25px;
    padding-right: 25px;

    @media (min-width: 2200px) and (max-width: 2560px) {
      font-size: 42px;
    }
  }
  a {
    color: $greenprimary;
    font-family: $fontsecondary;
    font-size: $dimensionsecondary;
    padding-left: 25px;
    @media (min-width: 2200px) and (max-width: 2560px) {
      font-size: 42px;
    }
  }
}

// qui gestisco il secondo form

.formTwo {
  display: flex;
  text-align: start;
  align-items: start;
  flex-wrap: wrap;
  flex-direction: column;
  label {
    @extend %dwColorMenutwo;
    font-family: $fontsecondary;
    font-size: $dimensionsecondary;
    margin-left: 70px;
    margin-right: 20px;
    margin-top: 20px;
    @media all and (max-width: 500px) {
      margin-left: 30px;
    }
    @extend %opzionale;
  }
  textarea {
    @extend %textarea;
    margin-left: 60px;
    width: 54vw;
    height: 100px;
    @media (min-width: 2200px) and (max-width: 2560px) {
      height: 400px;
      font-size: 30px;
    }

    @media all and (max-width: 650px) {
      width: 75vw;
    }
    @media all and (max-width: 500px) {
      margin-left: 30px;
    }
    @media all and (max-width: 395px) {
      max-width: 300px;
    }
    @media all and (max-width: 375px) {
      max-width: 273px;
    }
  }

  input {
    height: 25px;
    width: 310px;
    cursor: pointer;
    @extend %sfondorettangolo;
    border-radius: 15px;
    padding: 10px;
    margin-left: 60px;
    margin-top: 15px;
    @extend %dwColorMenutwo;
    @extend %marginform;
    font-size: 18px;
    font-family: $fontsecondary;
    transition: 0.4s ease-in-out;
    @media (min-width: 2200px) and (max-width: 2560px) {
      height: 70px;
      font-size: 30px;
    }
    @media all and (max-width: 500px) {
      margin-left: 30px;
    }
    @media all and (max-width: 395px) {
      max-width: 300px;
    }
    @media all and (max-width: 375px) {
      width: 70%;
    }
    @extend %focusinput;
  }
  button {
    width: 330px;
    margin-left: 60px;
    margin-top: 20px;
    margin-bottom: 50px;
    @extend %button;
    @media all and (max-width: 500px) {
      margin-left: 30px;
    }
    @media all and (max-width: 375px) {
      width: 80%;
    }
    @media (min-width: 2200px) and (max-width: 2560px) {
      height: 80px;
    }
  }
  .tittledue {
    @extend %dwColorMenuOne;
    font-family: $fontprimary;
    padding: 100px 10px 15px 70px;
    font-weight: 900;
    font-size: 30px;
    @media (min-width: 2200px) and (max-width: 2560px) {
      font-size: 62px;
    }
    @media all and (max-width: 500px) {
      margin-left: -40px;
    }
  }
  @extend %checkbox;
}
