// siamo sul file principale sass e di seguito aggiungo gli altri file che si collegano

@import "variabili";
@import "container";
@import "footer";
@import "menu";
@import "recensioni";
@import "progetti";
@import "galleria";
@import "email";
@import "videoheader";

// di seguito elenco con dei placeholder selector il colore degli elementi principali, con una condizione che verificherà il template
%dwColorMenuOne {
  @if $template == dark {
    color: $whiteprimary;
  } @else {
    color: $dark;
  }
}
%dwColorMenutwo {
  @if $template == dark {
    color: $whitesecondary;
  } @else {
    color: $secondblack;
  }
}
%dwsfondo {
  @if $template == dark {
    background-color: $dark;
  } @else {
    background-color: $light;
  }
}
%dwsfondoMenuUno {
  @if $template == dark {
    background-color: $sfondosecondary;
  } @else {
    background-color: $sfondoterzo;
  }
}
%dwsfondoMenuDue {
  @if $template == dark {
    background-color: $blacknav;
  } @else {
    background-color: $whitenav;
  }
}
%dwshover {
  @if $template == dark {
    background-color: $colorhover;
  } @else {
    background-color: $sfondoterzo;
  }
}
%borderrecens {
  @if $template == dark {
    border: 3px solid $whiteprimary;
  } @else {
    border: 3px solid $dark;
  }
}
%sfondorettangolo {
  @if $template == dark {
    background-color: $superbottone;
  } @else {
    background-color: $whitenavdue;
  }
}
%focus {
  @if $template == dark {
    background-color: $colorhover;
  } @else {
    background-color: $whitesecondary;
  }
}
%bold {
  @if $template == dark {
    font-weight: 400;
  } @else {
    font-weight: bold;
  }
}
%homelink {
  @if $template == dark {
    background-color: $homecursor;
  } @else {
    background-color: $greentwo;
  }
}

// gestione degli elementi in comune dei miei due form

%textarea {
  resize: none;
  @extend %marginform;
  border-radius: 10px;
  @extend %hovereffect;
  padding: 10px;
  @extend %dwColorMenutwo;
  @extend %sfondorettangolo;
  font-size: 18px;
  font-family: $fontsecondary;

  &:focus {
    outline: none;
    border: $greenprimary solid 2px;
    @extend %focus;
    &::placeholder {
      color: transparent;
      transition: color 0.5s ease;
    }
  }
}

%focusinput {
  &:focus {
    outline: none;
    border: $greenprimary solid 2px;
    @extend %focus;
  }
}

%opzionale {
  .opzionale {
    font-size: 15px;
    color: $greenprimary;
    @media (min-width: 2200px) and (max-width: 2560px) {
      font-size: 25px;
    }
  }
}

%button {
  @extend %sfondorettangolo;
  height: 45px;
  @extend %dwColorMenutwo;
  font-family: $fontsecondary;
  font-weight: 500;
  font-size: 19px;
  @extend %marginform;
  border-radius: 15px;
  cursor: pointer;
  &:hover {
    border: 2px solid $greenprimary;
  }
  // impostazioni icona aereoplanino scaricata online

  .airp {
    width: 20px;
    color: $greenprimary;
    position: relative;
    top: 4px;
  }
}

// qui di seguito gestisco lo stile personalizzato con uno span della checkbox e della sua spunta dei miei due form

%checkbox {
  .customChecbox {
    cursor: pointer;
    display: inline-block;
    position: relative;
    padding-left: 40px;
    padding-right: 40px;
    transition: 0.4s ease-in-out;
    @media all and (max-width: 550px) {
      font-size: 15px;
    }
    .hidenCheckbox {
      position: absolute;
      opacity: 0;
      width: 1px;
      height: 1px;
    }
    .checkmark {
      position: absolute;
      top: 0px;
      left: 0;
      height: 22px;
      width: 22px;
      @extend %marginform;
      border-radius: 5px;
      @extend %sfondorettangolo;
    }
  }
}

// di seguito ho inserito la standardizazione delle pagine del sito
* {
  @extend %reset;
}

body {
  @extend %body;
}
html {
  scroll-behavior: smooth;
}

// di seguito mi occupo delle immagini di sfondo delle varie pagine del

%immagineSfondoAd {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  z-index: -2;
}

.sfondoimg {
  @extend %immagineSfondoAd;
  background: url(../assets/socials.png);
}
.sfondoimgdue {
  @extend %immagineSfondoAd;
  background: url(../assets/e_commerce.png);
}
.sfondoimgtre {
  @extend %immagineSfondoAd;
  background: url(../assets/cripto.png);
}
.sfondoimgquattro {
  @extend %immagineSfondoAd;
  background: url(../assets/scacchi_sfondo.png);
}
.sfondoimgcinque {
  @extend %immagineSfondoAd;
  background: url(../assets/cite@2x.png);
}
.sfondoimgsei {
  @extend %immagineSfondoAd;
  background: url(../assets/sfondolavori.png);
}
.sfondoimgsette {
  @extend %immagineSfondoAd;
  background: url(../assets/grafica.png);
}
.sfondoimgotto {
  @extend %immagineSfondoAd;
  background: url(../assets/email.png);
}
.sfondoimgnove {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  width: 90%;
  height: 100%;
  z-index: -2;
  background: url(../assets/homeb.png);
  @media all and (max-width: 650px) {
    width: 70%;
  }
}

// qui sotto gestisco lo stile del titolo che appare più spesso nel mio sito

.titler {
  text-align: start;
  padding-top: 150px;
  margin-left: 60px;
  margin-right: 60px;
  @extend %dwColorMenuOne;
  font-family: $fontprimary;
  font-weight: bolder;
  font-size: $dimensionprimary;
  @media (min-width: 2200px) and (max-width: 2560px) {
    padding-top: 320px;
    font-size: 110px;
  }
  @media all and (max-width: 516px) {
    max-width: 250px;
  }
  @media all and (max-width: 500px) {
    margin-left: 30px;
  }

  @media all and (max-width: 315px) {
    font-size: 62px;
  }
}
